.body {
    margin-bottom: 200px;
}

.topsec {
    padding: 50px 160px 50px 80px;
    background: #ECEFFF;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:1000px) {
        padding: 50px 20px ;
    }
    @media screen and (max-width:900px) {
        gap: 40px;
        flex-direction: column;
        align-items: center;
    } 
    @media screen and (max-width:600px) {
        padding: 50px 10px ;
    }
}

.topleft {
    width: 520px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media screen and (max-width:900px) {
        width: 100%;
    }
}

.topright {
    border-radius: 50px 0px;
    background: #673DE6;
    padding-top: 20px;
    width: 285px;
    position: relative;

}

.topimg {
    position: absolute;
    transform: translate(50%, -50%);
    top: 30px;
    right: 0;
}

.bottomimg {
    position: absolute;
    transform: translate(-50%, 50%);
    bottom: 50px;
    left: 0;
}

.lefttitle {
    color: #1E1E1E;

    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    /* 125% */
}

.topdesc {
    color: #626262;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    /* 175% */
}

.topbtngrp {
    display: flex;
    gap: 20px;
    @media screen and (max-width:600px) {
        gap: 0px;
        justify-content: space-between;
    }
}

.startbtn {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    /* 277.778% */
    text-transform: capitalize;
    text-align: center;
    border-radius: 6px;
    background: #673DE6;
    padding: 0px 40px;
    cursor: pointer;
    @media screen and (max-width:600px) {
        padding: 0px 10px ;
        width: 42%;
    }
}

.talkbtn {
    cursor: pointer;
    color: #673DE6;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    /* 277.778% */
    text-transform: capitalize;
    border-radius: 6px;
    border: 1.5px solid #673DE6;
    padding: 0px 40px;
    @media screen and (max-width:1000px) {
        padding: 0px 10px;
        width: 42%;
    }
}

.scholarsec {
    margin: 100px 0px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 0px 50px 0px 80px;
    background: #ECEFFF;
    @media screen and (max-width:1300px) {
        flex-direction: column;
        padding: 0px 20px;
    }
}
.scholarright{
    img{
        @media screen and (max-width:1300px) {
            width: 100%;
        } 
    }
}
.scholarleft {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 0px;
    @media screen and (max-width:1300px) {
        align-items: center;
    }
}

.scholartitle {
    display: flex;
    padding: 6px 12px;
    gap: 20px;
    align-items: center;
    color: #1E1E1E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    /* 175% */
    text-transform: capitalize;
    border-radius: 6px;
    background: #FFF;
    width: 220px;
}
.scholardesc{
    color: #673DE6;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 49px; /* 122.5% */
    text-transform: capitalize;
    width: 500px;
    @media screen and (max-width:600px) {
        width: 100%;
        text-align: center;
    }
}
.scholardesc2{
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 218.75% */
    text-transform: capitalize;
}
.scholarbtn{
    border-radius: 6px;
background: #673DE6;
color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 277.778% */
text-transform: capitalize;
width: 220px;
text-align: center;
}
.recommendsec{
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width:1000px) {
        padding: 50px 20px;
    } 
    
}
.recommendtop{
    display: flex;
    justify-content: space-between;
}
.recommendtitle{
    color: #000;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 166.667% */
text-transform: capitalize;
}
.viewbtn{
    border-radius: 6px;
background: #FFF;
box-shadow: 0px 4px 50px 0px rgba(217, 217, 217, 0.55);
color: #673DE6;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 277.778% */
text-transform: capitalize;
display: flex;
padding: 0px 10px;
cursor: pointer;

}
.coursecat{
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    column-gap: 10px;
}
.toggler{
    width: 80px;
    text-align: center;
    color: #673DE6;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 35px;
text-transform: capitalize;
cursor: pointer;
}
.coursecards{
    display: flex;
    justify-content: space-between;
    overflow: auto;
    gap: 20px;
    
}
.coursecards::-webkit-scrollbar {
    display: none;
  }
.coursecard{
    width: 380px;
    padding: 20px;
    border-radius: 12px;
border: 1px solid #D9D9D9;
background: #FFF;
display: flex;
flex-direction: column;
row-gap: 10px;
img{
    border-radius: 6px;
}
@media screen and (max-width:1400px) {
    width: 350px;
}
}
.coursecardtitle{
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 250% */
    text-transform: capitalize;
}
.coursecarddesc{
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
    text-transform: capitalize;
}
.coursecardtime{
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
    text-transform: capitalize;
    display: flex;
    column-gap: 10px;
    align-items: center ;
}
.enrollbtn{
    border-radius: 6px;
background: #673DE6;
text-align: center;
color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 277.778% */
text-transform: capitalize;
}
.boostsec{
    margin: 50px 80px;
    padding: 40px 60px;
    border-radius: 12px;
background: linear-gradient(99deg, #673DE6 14.25%, #7649FF 98.53%);
display: flex;
flex-direction: column;
gap: 30px;
position: relative;
overflow: hidden;
@media screen and (max-width:1000px) {
    margin: 50px 20px;
} 
}
.boosttitle{
    width: 700px;
    color: #FFF;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 133.333% */
text-transform: capitalize;
}
.boostdesc{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    text-transform: capitalize;
    width: 700px;
}
.boostbtn{
    width: 300px;
    border-radius: 6px;
background: #FFF;
text-align: center;
color: #673DE6;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 250% */
text-transform: capitalize;
}
.agentbox{
    width: 300px;
    height: 300px;
    border-radius: 50%;
background: rgba(236, 239, 255, 0.36);
position: absolute;
transform: translate(50%,-50%);
right: 80px;
top: 80px;
display: flex;
justify-content: center;
align-items: center;
}
.agentwhitecircle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.countrysec{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.countrycards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 200px 80px 200px;
    @media screen and (max-width:1000px) {
        padding: 40px 20px 180px 20px;
    } 
}
.countrycard{
    width: 220px;
    border-radius: 12px;
border: 1.5px solid #D9D9D9;
background: #FFF;
display: flex;
flex-direction: column;
gap: 15px;
align-items: center;
justify-content: center;
padding: 10px;
position: relative;
cursor: pointer;
}
.countrypngbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index: -1;
    img{
        @media screen and (max-width:800px) {
        width: 50%;
        }
    }
}
.countrysectitle{
    color: #1E1E1E;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 35px; /* 116.667% */
text-transform: capitalize;
}
.countrysecdesc{
    color: #626262;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 250% */
}
.check-circle {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  .checked {
    background-color: green;
    border: none;
  }
  .archieversec{
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    @media screen and (max-width:1000px) {
        padding: 60px 20px;
    } 
  }
  .archievertitle{
    color: #1E1E1E;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 166.667% */
text-transform: capitalize;
  }
.archievercards{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    overflow: auto;
}
.archievercard{
    width: 380px;
    padding: 10px ;
    border-radius: 12px;
border: 1px solid #D9D9D9;
background: #FFF;
display: flex;
flex-direction: column;
row-gap: 10px;

img{
    border-radius: 6px;
    align-self: center;
}
}
.archieverdesc{
    color: #1E1E1E;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 125% */
text-transform: capitalize;
}
.archieverdate{
    color: #727272;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 312.5% */
text-transform: capitalize;
display: flex;
align-items: center;
column-gap: 10px;
}
.archieverregister{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.registered{
    color: #727272;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 312.5% */
text-transform: capitalize;
display: flex;
column-gap: 15px;
align-items: center;
}
.registerright{
    display: flex;
    column-gap: 10px;
    div{
        border-radius: 4px;
background: #ECEFFF;
color: #1E1E1E;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 138.889% */
text-transform: capitalize;
padding: 0px 10px;
    }
}
.archieverbtn{
    text-align: center;
    border-radius: 6px;
background: #673DE6;color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 277.778% */
text-transform: capitalize;
}

