.boostsec{
    margin: 50px 80px;
    padding: 40px 60px;
    border-radius: 12px;
background: linear-gradient(99deg, #673DE6 14.25%, #7649FF 98.53%);
display: flex;
flex-direction: column;
gap: 30px;
position: relative;
overflow: hidden;
@media screen and (max-width:1000px) {
    margin: 50px 20px;
} 
@media screen and (max-width:600px) {
    padding: 40px 20px 200px 20px;
    gap: 20px;
 }
}
.boosttitle{
    width: 700px;
    color: #FFF;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 133.333% */
text-transform: capitalize;
@media screen and (max-width:600px) {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
 }
}
.boostdesc{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    text-transform: capitalize;
    width: 700px;
    @media screen and (max-width:600px) {
        width: 100%;
        text-align: center;
        font-size: 10px;
        line-height: 20px;
     }
}
.boostbtn{
    width: 300px;
    border-radius: 6px;
background: #FFF;
text-align: center;
color: #673DE6;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 250% */
text-transform: capitalize;
@media screen and (max-width:600px) {
    width: 100%;
 }
}
.agentbox{
    width: 300px;
    height: 300px;
    border-radius: 50%;
background: rgba(236, 239, 255, 0.36);
position: absolute;
transform: translate(50%,-50%);
right: 80px;
top: 80px;
display: flex;
justify-content: center;
align-items: center;
@media screen and (max-width:600px) {
    width: 200px;
    height: 200px;
    right: 50%;
    top: 360px;
 }
}
.agentwhitecircle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:600px) {
        width: 150px;
        height: 150px;
     }
}