.recommendsec{
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width:1000px) {
        padding: 50px 20px;
    } 
    
}
.recommendtop{
    display: flex;
    justify-content: space-between;
}
.recommendtitle{
    color: #000;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 166.667% */
text-transform: capitalize;
@media screen and (max-width:600px) {
    font-size: 20px;
 }
}
.viewbtn{
    border-radius: 6px;
background: #FFF;
box-shadow: 0px 4px 50px 0px rgba(217, 217, 217, 0.55);
color: #673DE6;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 277.778% */
text-transform: capitalize;
display: flex;
padding: 0px 10px;
cursor: pointer;
@media screen and (max-width:600px) {
    font-size: 14px;
 }

}
.coursecat{
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    @media screen and (max-width:600px) {
        column-gap: 5px;
     }
}
.toggler{
    text-align: center;
    color: #673DE6;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 35px;
text-transform: capitalize;
cursor: pointer;
}
.coursecards{
    display: flex;
    overflow: auto;
    gap: 20px;
    
}
.coursecards::-webkit-scrollbar {
    display: none;
  }
.coursecard{
    width: 380px;
    padding: 20px;
    border-radius: 12px;
border: 1px solid #D9D9D9;
background: #FFF;
display: flex;
flex-direction: column;
justify-content: space-between;
row-gap: 10px;
img{
    border-radius: 6px;
}
@media screen and (max-width:1400px) {
    width: 350px;
}
@media screen and (max-width:600px) {
    width: 340px;
 }
}
.coursecardtitle{
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 250% */
    text-transform: capitalize;
}
.coursecarddesc{
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
    text-transform: capitalize;
}
.coursecardtime{
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
    text-transform: capitalize;
    display: flex;
    column-gap: 10px;
    align-items: center ;
}
.enrollbtn{
    border-radius: 6px;
background: #673DE6;
text-align: center;
color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 277.778% */
text-transform: capitalize;
}